/** Globales **/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** 1 rem = 10px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Redressed', sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Redressed', cursive;
}

h1 {
    font-size: 4rem;
    
}

h2 {
    font-size: 3.1rem;
}

h3 {
    font-size: 3.2rem;
}

a {
    text-decoration: none;
}


/** UTILIDADES **/

.contenedor {
   max-width: 1200px; 
    margin: 0 auto;
    width: 100%;
}

.centrar-texto {
    text-align: center;
    
    
}

.no-margin {
    margin: 0;
}


/** NAVEGACION **/

.barra {
    background-color: #33bfff;
    line-height: 6rem;
    padding: 1rem;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacion a {
    font-size: 3rem;
    color: #fff;
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }
   
  
}

.navegacion a:hover {
    background-color: yellow;
    color: black;
}

/** HEADER **/ 



.prueba-header{
 background-image: url(../img/hero.jpg);
 position: relative;
 height: 45rem;
}

@media (min-width: 768px){
    .prueba-header{
        
            
    }
}

.side-header{
    
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0, 0, 70%);
    height: 100%;
    align-items: center;
    padding: 2rem;
}

.side-header h1{
    text-align: center;
    padding: 1rem;
    line-height: 5rem;
    color: #fff;

}

.side-header p{
    color: #fff;
}




.boton{
    background-color: #33bfff;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
    text-transform: uppercase;
    width:  40%;
    text-align: center;
}

/** MAIN **/ 

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h1{
    padding: 1rem;
    font-size: 5rem;
    font-weight: 700;
}

.servicio h3{
    color: #33bfff;
}

.servicio p{
    font-size: 2.3rem;
    line-height: 2.5rem;
    text-align: center;
    margin: 2rem 2rem 0 2rem; /* Arriba Derecha Abajo Izquierda */ 

}

@media (min-width: 768px){

    .principal{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        column-gap: 1rem;
        
    }
}

.iconos{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 150px;
    width:150px;
    border-radius: 50%;
    background: goldenrod;   
}

 
